* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: #1abc9c;
  background-image: linear-gradient(to top left, #9b59b6, #1abc9c);
  font-family: arial;
  position: relative;
  text-align: center;
  padding: 20px 0;
}
/* HEADER */
header {
  color: white;
  letter-spacing: 10px;
  font-size: 22px;
  padding: 10px 5px;
}
header h1 {
  font-weight: 300;
}

.about_game {
  background: rgba(0, 0, 155, 0.15);
  width: 500px;
  height: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 5px;
  margin: auto;
  letter-spacing: 1px;
  color: white;
  font-size: 16px;
}

.register_user {
  padding: 8px;
  height: 50px;
  width: 200px;
  background: white;
  color: #48719b;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid rgba(50, 0, 155, 0.3);
  border-radius: 5px;
}
.register_user:hover {
  background: rgba(50, 0, 155, 0.3);
  color:white;
}